@import '_variables';

FORM.config-form {

	.any-delete-tab {
		color: var(--bs-danger);
		&.active {
			color: white;
			background-color: var(--bs-danger);
		}
	}

	#save-button {
		margin-bottom: 1ex;

		&.bg-danger {
			color: white !important;
			&:hover {
				background-color: white !important;
				color: var(--bs-nav-pills-link-active-bg);
			}
		}

		&.bg-success {
			color: white !important;
			&:hover {
				background-color: var(--bs-nav-pills-link-active-bg) !important;
			}
		}
	}

	#cancel-button {
		&.bg-success {
			color: white !important;
			&:hover {
				background-color: blue !important;
			}
		}
	}

	DIV#form-summary {
		max-width: 15rem;
		margin-top: 2ex;
		TD {
			padding: 3px;
		}
		TH {
			padding: 3px;
		}
	}

	BUTTON[role="tab"] SPAN.badge {
		display: none;
		float: right;
	}

	DIV.row > DIV {
		border-left: 1px solid;
		border-color: #0d6efd;
	}

	// Form styling

	LABEL.form-label {
		margin-top: 2ex;
		font-size: larger;  // change BS $form-label-font-size?
		font-weight: bold;  // $form-label-font-weight
 	}

	// Form change history

	LABEL.has-changed {
		padding: 0 10px;
		background-color: var(--bs-info);
		border-radius: 1ex;
	}

	FIELDSET.history {
		width:90%;
		margin: 2em auto;
		border: 2px solid var(--bs-info);
		border-radius: 5px;
		padding: 20px;
		position: relative;

		LEGEND {
			font-size: 1rem;
			position: absolute;
			left: 10px;
			top: -1.1em;
			height: 2em;
			line-height: 2em;
			padding: 0 10px;
			width: auto;
			background-color: var(--bs-info);
			border-radius: 1ex;
		}
	}

	// All tabs are rendered, so they are all the same heigth

	.tab-content {
		display: flex;

		> .tab-pane {
			display: block;
			visibility: hidden;
			margin-right: -100%;
			width: 100%;
		}

		> .active {
			visibility: visible;
		}
	}

	.container {
		height: 100%;
	}

	.row {
		height: 100%;
	}
}
