
BODY#frontpage {
	background-color: $oc-color-light;

	SECTION#main-box {
	    background-position: center top;
	    background-color: $oc-color-dark;
	    position: relative;
	    color: white;
	    width: 100%;
	    font-size: 120%;
	    padding-top: 140px;
	    padding-bottom: 40px;

		H1 {
	    	color: white;
	    	font-size: 300%;
	    	font-weight: 900;
	    	margin: 0 0 20px;
	    	letter-spacing: -1px;
	    	line-height: 75px;
		}

		.btn-primary {
	    	background-color: $oc-color-normal;
			color: $oc-color-light;
			border-color: $oc-color-light;
		}

		A:not(.btn) {
			color: $oc-link-on-dark;
			text-decoration: none;
		}
	}

	MAIN {
		color: $oc-color-dark;

		DIV#explain {
			padding: 3ex 0;

			IMG {
				margin: 2ex 4ex;
				width: 80%;
			}

			H5 {
				padding: 2ex 0 0 0;
				font-weight: 600;
			}
		}
	}
}

