BODY {
	background-color: $oc-color-dark;
	color: white;
}

H1 {
	color: $oc-color-normal;
	margin-bottom: 1ex;
}

.nav-link {
	white-space: nowrap !important;
}

// Form styling

LABEL.form-label {
	margin-top: 2ex;
	font-size: larger;  // change BS $form-label-font-size?
	font-weight: bold;  // $form-label-font-weight
}

.eye_toggle {
	cursor: pointer;
}

/* close buttons, for instance for alerts */

.close:not(:disabled):not(.disabled) {
	cursor: pointer;
}

BUTTON.close {
	padding: 0;
	background-color: transparent;
	border: 0;
	-webkit-appearance: none;
}

/*
 * Any modal
 */

DIV.modal {
	display: none;

	.modal-header .close {
		padding: 1rem;
		margin: -1rem -1rem -1rem auto;
	}
}

/*
 * Any alert (notification)
 */

DIV.alert {
	BUTTON.close {
		float: right;
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 1;
		color: #000;
		text-shadow: 0 1px 0 #fff;
		opacity: .5;
	}
}

