DIV#page {
    background-position: center top;
    position: relative;
    width: 100%;
    padding-top: 140px;

	NAV.sidebar {
		A[href="#"] {
display: none;
    		text-decoration: line-through;
		}

		A {
			color: $oc-link-on-dark;
			text-decoration: none;
		}
	}

	MAIN {
		// above optional colophon
		margin-bottom: 10ex;
	}
}
