
#config-website {
//	align-items: center !important;
//	padding: 10px;
//	background-color: $oc-color-light;

	#check-url-button, #start-proof-button {
		margin: 0 1em 10px 0;
	}

	.fa-solid, .fa-regular {
		font-size: x-large;
		padding: 0 0.5rem;
	}

	.verify-success, .proof-success {
		color: var(--bs-green);
		display: none;
	}

	.verify-required {
		color: var(--bs-orange);
		display: none;
	}

	.verify-waiting, .proof-waiting {
		color: var(--bs-indigo);
		display: none;
	}

	.verify-failed, .proof-failed {
		color: var(--bs-red);
		display: none;
	}

	.verify-info {
		color: var(--bs-blue);
		display: none;
	}

	.verify-step2 {
		display: none;
	}

	PRE {
		overflow: visible;
	}
}
