@import 'variables';

DIV.val-error {
	color: var(--bs-danger);

	&::before {
		@extend %fa-icon;
		@extend .fas;
		content: fa-content($fa-var-circle-xmark) $hard-space;
	}
}

DIV.val-warn {
	color: var(--bs-warning);

	&::before {
		@extend %fa-icon;
		@extend .fas;
		content: fa-content($fa-var-warning) $hard-space;
	}
}

DIV.val-info {
	color: var(--bs-info);

	&::before {
		@extend %fa-icon;
		@extend .fas;
		content: fa-content($fa-var-bullhorn) $hard-space;
	}
}

DIV.val-good {
	color: var(--bs-success);

	&::before {
		@extend %fa-icon;
		@extend .fas;
		content: fa-content($fa-var-thumbs-up) $hard-space;
	}
}
