@import 'variables';

DIV.val-error {
	color: var(--bs-danger);

	&::before {
		@extend %fa-icon;
		@extend .fas;
		content: fa-content($fa-var-warning) $hard-space;
	}
}

DIV.val-warn {
	color: var(--bs-warning);

	&::before {
		@extend %fa-icon;
		@extend .fas;
		content: fa-content($fa-var-warning) $hard-space;
	}
}
