.admin {
	background: #CCFFCC;
}

FORM > DIV {
	margin-bottom: 3ex;
}

div#login_card {
	width: 40rem;
}

.eye_toggle {
	cursor: pointer;
}

.warning {
	color: red;
	display: none;
}

#account-delete-tab { color: red }
#account-delete-tab.active { color: white; background-color: red }
LABEL.form-label { margin-top: 2ex }
#save_button { margin-bottom: 1ex }
FORM DIV.row > DIV { border-left: 1px solid; border-color: #0d6efd }


/* dashboard/account css */

FORM#change_account #user_change_email_input {
    width: 70%;
}

FORM#change_account #change_email_button {
    padding: 6px;
    cursor: pointer;
    background-color: grey;
    pointer-events: none;
    border: none;
}

FORM#change_account #change_email_button.changed {
    background-color: DodgerBlue;
    pointer-events: auto;
}
