
/* XXX why are these not in the Bootstrap CSS?  It is on their  */
 * website.  Need to play with the generated style-sheets?	  */

.bg-warning { color: black }
.bg-danger  { color: white }
.bg-info	{ color: black }

NAV .badge {
	background: rgba(var(--bs-info-rgb));
	color: black;
}

.close:not(:disabled):not(.disabled) {
	cursor: pointer;

}
.modal-header .close {
	padding: 1rem;
	margin: -1rem -1rem -1rem auto;
}

button.close {
	padding: 0;
	background-color: transparent;
	border: 0;
	-webkit-appearance: none;
}

.close {
	float: right;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .5;
}

.badge-danger {
	background: rgba(var(--bs-danger-rgb));
}

/* XXX End of fixes */

DIV.nav BUTTON {
	text-align: left;
}

BUTTON[role="tab"] SPAN.badge {
	display: none;
	float: right;
}

/* Mark everything what is only available to admins */
.admin {
	background: #CCFFCC;
}

TH, TD {
	padding: 10px;
}

FORM > DIV {
	margin-bottom: 3ex;
}

div#login_card {
	width: auto;
	height: auto;
	max-width: 40rem;
	max-height: 60rem;
}

.eye_toggle {
	cursor: pointer;
}

.val-error::before,
.val-warn::before {
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	content: "\f071  ";
}

.val-error {
	color: rgba(var(--bs-danger-rgb));
}
.val-warn {
	color: rgba(var(--bs-warning-rgb));
}

LABEL.form-label {
	margin-top: 2ex;
	font-size: larger;
	font-weight: bold;
 }

FORM#config-account  #account-delete-tab,
FORM#config-identity #identity-delete-tab,
FORM#config-group	 #group-delete-tab
{	color: rgba(var(--bs-danger-rgb));
}

FORM#config-account #account-delete-tab.active,
FORM#config-idenity #identity-delete-tab.active,
FORM#config-group   #group-delete-tab.active
{	color: white;
	background-color: red;
}

FORM#config-account TABLE#langtab.table-hover TBODY TR:hover {
	background-color: #e0e0e0;
}

FORM.config-form #save_button {
	margin-bottom: 1ex;
}

FORM.config-form #save_button.bg-danger:hover {
	background-color: white !important;
	color: var(--bs-nav-pills-link-active-bg);
}

FORM.config-form #save_button.bg-success {
	color: white !important;
}

FORM.config-form #save_button.bg-success:hover {
	background-color: var(--bs-nav-pills-link-active-bg) !important;
}

FORM.config-form #cancel_button.bg-success {
	color: white !important;
}

FORM.config-form #cancel_button.bg-success:hover {
	background-color: blue !important;
}

FORM.config-form DIV.row > DIV {
	border-left: 1px solid;
	border-color: #0d6efd;
}

FORM.config-form DIV#form-summary {
	max-width: 15rem;
	margin-top: 2ex;
}

FORM.config-form #form-summary TD,
FORM.config-form #form-summary TH {
	padding: 3px;
}	

/* https://observablehq.com/@rkaravia/css-trick-tabs-with-consistent-height */
FORM.config-form .tab-content {
	display: flex;
}

FORM.config-form .tab-content > .tab-pane {
	display: block;      /* undo "display: none;" Everything gets rendered */
	visibility: hidden;
	margin-right: -100%;
	width: 100%;
}

FORM.config-form .tab-content > .active {
	visibility: visible;
}

FORM.config-form .container,
FORM.config-form .row {
	height: 100%;
}

/* END height trick */

FORM LABEL.has-changed {
	padding: 0 10px;
	background-color: rgba(var(--bs-info-rgb));
	border-radius: 1ex;
}

FIELDSET.history {
	width:90%;
	margin: 2em auto;
	border: 2px solid rgba(var(--bs-info-rgb));
	border-radius: 5px;
	padding: 20px;
	position: relative;
}

FIELDSET.history LEGEND {
	font-size: 1rem;
	position: absolute;
	left: 10px;
	top: -1.1em;
	height: 2em;
	line-height: 2em;
	padding: 0 10px;
	width: auto;
	background-color: rgba(var(--bs-info-rgb));
	border-radius: 1ex;
}

