.admin {
	background: #CCFFCC;
}

TH, TD {
	padding: 10px;
}

FORM > DIV {
	margin-bottom: 3ex;
}

div#login_card {
	width: 40rem;
}

.eye_toggle {
	cursor: pointer;
}

.warning {
	color: red;
	display: none;
}

LABEL.form-label { margin-top: 2ex }


FORM#config_account #account-delete-tab { color: red }

FORM#config_account #account-delete-tab.active { color: white; background-color: red }

FORM.config_form #save_button { margin-bottom: 1ex }

FORM.config_form DIV.row > DIV { border-left: 1px solid; border-color: #0d6efd }
