@import '_variables';

FORM#config-account {
	#account-delete-tab {
		color: $danger-color;
	}
	#account-delete-tab.active {
		color: white;
		background-color: red;
	}
	TABLE#langtab.table-hover {
		TBODY {
			TR {
				&:hover {
					background-color: #e0e0e0;
				}
			}
		}
	}
}
FORM#config-identity {
	#identity-delete-tab {
		color: $danger-color;
	}
	#identity-delete-tab.active {
		color: white;
		background-color: red;
	}
}
FORM#config-group {
	#group-delete-tab {
		color: $danger-color;
	}
	#group-delete-tab.active {
		color: white;
		background-color: red;
	}
}
FORM.config-form {
	#save-button {
		margin-bottom: 1ex;
	}
	#save-button.bg-danger {
		&:hover {
			background-color: white !important;
			color: var(--bs-nav-pills-link-active-bg);
		}
	}
	#save-button.bg-success {
		color: white !important;
		&:hover {
			background-color: var(--bs-nav-pills-link-active-bg) !important;
		}
	}
	#cancel-button.bg-success {
		color: white !important;
		&:hover {
			background-color: blue !important;
		}
	}
	DIV.row {
		>DIV {
			border-left: 1px solid;
			border-color: #0d6efd;
		}
	}
	DIV#form-summary {
		max-width: 15rem;
		margin-top: 2ex;
	}
	#form-summary {
		TD {
			padding: 3px;
		}
		TH {
			padding: 3px;
		}
	}
	.tab-content {
		display: flex;
		>.tab-pane {
			display: block;
			visibility: hidden;
			margin-right: -100%;
			width: 100%;
		}
		>.active {
			visibility: visible;
		}
	}
	.container {
		height: 100%;
	}
	.row {
		height: 100%;
	}
}
